{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>
<body>
	<div class="container" style="height:100vh;">
		<div class="row" style="height:100vh;">
			<div class="d-flex justify-content-center form-container align-items-center">
				<form action="" method="POST">
					{% csrf_token %}
						<input type="text" name="username" placeholder="Ваш логин" class="form-control" />
						<input type="password" name="password" placeholder="Ваш пароль" class="form-control" />
			 			{#<input type="submit" name="Вход"> #}
						<button>Вход</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>